@page
@model HW6MovieSharing.Pages.Requests.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Borrow Request</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowRequest.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowRequest.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowRequest.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowRequest.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowRequest.SharedWithFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowRequest.SharedWithFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowRequest.SharedWithLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowRequest.SharedWithLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowRequest.SharedwithEmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowRequest.SharedwithEmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowRequest.RequestDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowRequest.RequestDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowRequest.UserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowRequest.UserID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BorrowRequest.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
