@page
@model HW6MovieSharing.Pages.Requests.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of Requests</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BorrowRequest[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowRequest[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowRequest[0].SharedWithFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowRequest[0].SharedWithLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowRequest[0].SharedwithEmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowRequest[0].RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowRequest[0].RequestStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BorrowRequest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharedWithFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharedWithLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharedwithEmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestStatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Change Status</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
